.chat-list {
  .message {
    padding: 10px;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    background: $white;
    @include flex;
    @include border-radius(8px);

    &__unread {
      background: $bgLight;
    }

    .person-image {
      width: 40px;
      height: 40px;
      margin: 0 10px 0 0;
      @include flex-shrink(0);
    }

    .message-text {
      max-width: calc(100% - 50px);
      .message-name {
        font-weight: 600;
        color: $textDark;
        margin: 0 0 5px;
        font-size: 14px;
        line-height: 20px;

        span {
          font-size: 12px;
          font-weight: 500;
          color: $text;
          margin: 0 0 0 10px;
        }
      }
      .message-content {
        p {
          color: $textDark;
        }
        .message-attachments {
          padding: 15px 0 0;
        }
        .attachment-contacts {
          @include border-radius(5px);
          background: $bgLight;
          padding: 10px;

          strong {
            display: block;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: $textDark;
          }
          p {
            margin: 5px 0 0;
            color: $textDark;
            font-size: 14px;
            line-height: 20px;
            a {
              color: $orange;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
