//COLORS
$color-white: #ffffff;
$color-black: #000000;

$border: rgba(184, 184, 184, 0.4);
$text: #83888f;
$textDark: #111;
$bgLight: #f4f5f6;

$orange: #fa7a0a;
$green: #00c25a;

// Grid columns

$grid-columns: 12;
$grid-gutter-width: 30px;
